* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

#background {
    width: 300px;
    height: 500px;
    background-color: rgb(3, 3, 49);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#display {
    background-color: rgb(119, 119, 58);
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#display #content {
    font-size: 48px;
    margin: 8px;
}

#keypad {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    flex: 1;
    display: flex;
    gap: 5px;
}

.key {
    flex: 1;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}

.number {
    background-color: rgb(85, 118, 119);
}

.operator,
#equal {
    background-color: rgb(3, 47, 3);
}

#all-clear {
    background-color: chocolate;
}